.results 
{
    text-align: left;
}

.item .title 
{
    color:rgb(0, 34, 255);
    font-size:x-large;
    font-weight: bold;
}

.button 
{
    border: none;
    color: #ffffff;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 
{
    background-color:#ffffff00; 
    color: white; 
}

.button1:hover 
{
    background-color: #0041ba;
    color: white;
}
